*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif
}

body{
    padding: 20px;
    text-align: center;
}

.main
{
    padding: 20px;
    display:flex ;
    justify-content: center;
    gap: 10px;
}
 
h1{
    margin-top: 50px;
    font-size: 25px;
}

span{
    height: 100px;
    width: 100px;
    border: 2px solid black;
}

#grey{
    background-color: grey;
}

#red{
    background-color: red;
}

#blue{
    background-color: blue;
}

#orange{
    background-color: orange;
}