body {
    background-color: rgb(46, 46, 46);
    color: white;
    text-align: center;
    font-family: sans-serif;
}

#warper {
    background-color: gray;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    font-size: large;
    text-align: center;
    margin: 20px;
    border-radius: 3px;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
    align-items: center;
}

form .lowOrhigh {
    font-size: larger;
    font-weight: 600;
}

form #guess {
    font-size: 35px;
}

form input {
    padding: 8px 10px;
    border-radius: 3px;
    border: none;
}

#guessfield {
    border: 3px solid rgb(95, 95, 95);
}

#submit {
    background-color: rgb(49, 49, 49);
    color: white;
    font-size: large;
}

.resultparas #guesses {
    background-color: bisque;
    color: black;
    padding: 8px 10px;
    border-radius: 3px;
    border: none;
    margin-left: 5px;
}