*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif
}

body{
    padding: 20px;
    text-align: center;
    background-color: rgb(185, 185, 185);
}

form{
    display: grid;
    gap: 20px;
    margin-top: 30px;
}

button{
    padding: 7px 12px;
    border-radius: 4px;
}

#results {
    font-size: larger;
    font-weight: 600;
}

#waight-guide {
    margin: 0 20%;
    display: grid;
    gap: 20px;
    text-align: center;
}