body{
    background-color: rgb(51, 51, 51);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.parrent{
    position: absolute;
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;
}

.massage{
    /* position: absolute; */
    /* top: 10px;
    right: 10px;  */
    height: 46px;
    width: fit-content;
    background-color: gray;
    text-align: center;
    align-content: center;
    border-radius: 3px;
    color: white;
    font-size: 19px;
    padding: 0px 13px;
}
