* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: rgb(31, 31, 31);
    color: white;
    text-align: center;
    padding: 30px;
}

#main {
    background-color: gray;
    height: auto;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    border-radius: 4px;
}

form {
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

#alert-msg{
    font-size: 18px;
    font-weight: 600;
}

input {
    padding: 8px 5px;
    width: 200px;
}

form #userInput {
    padding: 10px 8px;
    border-radius: 4px;
    border: 2px solid #494949;
}

form #submit {
    padding: 10px 0px;
    width: 145px;
    border-radius: 3px;
    background-color: #434343;
    COLOR: WHITE;
    border: none;
    font-size: 17px;
    font-weight: 600;
}

#resultsDiv p, span {
    font-size: 18px;
}

#priviousGuess span {
    color: black;
    background-color: bisque;
    padding: 4px 8px;
    height: 10px;
    width: 20px;
    margin-left: 7px;
    border-radius: 3px;
}

#gameOver {
    font-size: 18px;
    font-weight: 600;
}

.startOver {
    margin-top: 10px;
    background-color: green;
    padding: 10px 18px;
    border-radius: 4px;
    color: rgb(26, 25, 25);
    font-weight: 600;
    text-transform: capitalize;
    font-size: large;
}